body {
  background-color: #494949;
  color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
    Tahoma, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Open Sans, sans-serif;
}

.instructions {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #585858;
}

#grid {
  width: 50%;
  margin: 10px auto;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
}

.grid__row {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(4, 1fr);
  border-bottom: 1px solid #585858;
  padding: 25px 5px;
}

.grid__row:not(:first-child):hover {
  background-color: #585858;
  cursor: pointer;
}

.grid--header {
  border-bottom: 2px solid #137a5a;
  padding-bottom: 10px;
  font-weight: 700;
}

.grid__cell {
  overflow: hidden;
}

@keyframes highlight {
  0% {
    background-color: #585858;
  }
}

.grid--change-effect {
  animation: highlight 1s;
}
